html {
    overflow-y: scroll;
}

span, p, a {
	color: #FFFFFF;
	font-size: 16px;
}

a:hover {
	color: #FFFFFF;
}

#main_container {
	display: none;
}

#player {
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#player > iframe {
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	border: 2px solid #FFFFFF;
	border-radius: 25px;
}

#player_remove {
	vertical-align: top;
	cursor: pointer;
}

body { 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: #FFFFFF;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding: 50px;
}

#youtube-submit-form {
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 50px;*/
	/*margin-bottom: 50px;*/
	width: 800px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 25px;
}

#name-input, #link-input {
	background-color:transparent;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-radius: 25px;
}

#song-add-btn {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0);
	border-color: #FFFFFF;
	border-radius: 15px
}
#song-add-btn:hover {
	color: #000000;
}
#song-add-btn:active {
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #FFFFFF;
}

div.friends
{
	width: 250px;
}

table {
	color: #FFFFFF;
}